<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h2 class="display-2 font-weight-normal podnaslov">Search results</h2>
        <br>
        <table class="table  table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">24/7 availability</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="clinic: ${clinics}">
                <td>
                    <a class="no-link-color" th:text="${clinic.getTitle()}" th:href="@{'/clinics/{id}' (id=${clinic.getId()})}"></a>
                </td>
                <td th:text="${pharmacy.getSunday() == 'Open 24 hours'} ? 'Yes' : 'No'"></td>
                <td th:text="${clinic.getAddress() != null} ? ${clinic.getAddress()} : 'No information available'"></td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
