<header>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row ">
            <a class="py-2 d-none d-md-inline-block" href="/home">НАСЛОВ</a>
            <a class="py-2 d-none d-md-inline-block nav-desno pad-nav" href="/home">Дома</a>
            <a class="py-2 d-none d-md-inline-block pad-nav" href="/home/about-us">За нас</a>
            <a class="py-2 d-none d-md-inline-block pad-nav" href="/home/choose-category">Пронајди</a>
            <a class="py-2 d-none d-md-inline-block pad-nav" href="/forum">Форум</a>
            <a class="py-2 d-none d-md-inline-block pad-nav" href="/home/contact-us">Контакт</a>
        </div>
    </nav>
</header>