<header>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row">
            <a class="py-2 d-none d-md-inline-block" href="/home">
                <i class="fa fa-ambulance" style="font-size: 25px"></i>
            </a>
            <a class="py-2 d-none d-md-inline-block nav-desno pad-nav" href="/home">Home</a>
            <a class="py-2 d-none d-md-inline-block pad-nav" href="/home/about-us">About us</a>
            <a class="py-2 d-none d-md-inline-block pad-nav" href="/home/choose-category">Search</a>
            <a class="py-2 d-none d-md-inline-block pad-nav" href="/diseases">Forum</a>
            <a class="py-2 d-none d-md-inline-block pad-nav" href="/home/about-us">Contat us</a>
        </div>
    </nav>
</header>